.container {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.section1 {
    grid-column: 1;
}

.section2 {
    grid-column: 2;
}

li {
    text-decoration: none;
    display: block;
    padding: 12px 12px;
    background-color: aqua;
    margin: 0;
    font-weight: 600;
}

ul {
    padding: 0;
    margin: 0;
}

.vNav {
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
    padding-bottom: 0;
}

.vBar li {
    width: 100px;
    background-color: rgb(178, 226, 226);
    color: blue;
}

.vBar .active {
    background-color: rgb(243, 166, 0);
    color: white;
}


.hNav {
    border: 1px solid black;
    padding: 5px;
    padding-right: 0;
    width: 400px;
}

.hNav li {
    display: inline-block;
    background-color: #cfcfcf;
    color: blue;
    border-right: 1px solid blue;
}

.hBar {
    background-color: #cfcfcf;
}

.hBar .active {
    background-color: #777777;
    color: white;
}