table {
    width: 80%;
    border-collapse: collapse;
    font-weight: 500;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:first-child {
    background-color: #0ba36b;
    color: white;
}